.video-wrapper(ng-if='!game.round')
  iframe(width="560", height="315", src="https://www.youtube.com/embed/53pg6AlOALs?autoplay=01&loop=1&playlist=53pg6AlOALs", frameborder="0", allowfullscreen)

each k in ['J', 'DJ']
  .container-fluid.jeopardy-board(ng-show='game.round == "#{k}"')
    .row.score-row
      each i in [3, 2, 1]
        .col-md-3 
          span.glyphicon.glyphicon-map-marker(ng-show='game.control_player == "player_#{i}"')
          span {{game.player_#{i}.name}}: {{game.player_#{i}.score || 0 | currency:'$':0}}
      .col-md-3
        span(ng-show='game.round == "DJ"') Double
        span(ng-show='game.round == "FJ"') Final
        |  Jeopardy!
    .row.board-row.category-row
      each i in [1, 2, 3, 4, 5, 6]
        .col-md-2.text-center.board-cell.category-cell
          div {{data.category_#{k}_#{i}.category_name}}
    each j in [1, 2, 3, 4, 5]
      .row.board-row
        each i in [1, 2, 3, 4, 5, 6]
          .col-md-2.text-center.board-cell.clue-cell
            div(ng-show='data.clue_#{k}_#{i}_#{j} && !game.clue_#{k}_#{i}_#{j}') $#{j * (k == 'J' ? 200 : 400)}
.container-fluid.jeopardy-board(ng-show='game.round == "FJ" || game.round == "end"')
  .row.fj-row
    .col-md-12.text-center.board-cell.fj-cell
      div {{data.category_FJ_1.category_name}}
        br
        br
        div(ng-bind-html='scoreHtml')
