nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      span.navbar-brand
        span(ng-show='game.round == "DJ"') Double
        span(ng-show='game.round == "FJ"') Final
        |  Jeopardy!
    .collapse.navbar-collapse
      each i in [1, 2, 3]
        form.navbar-form.navbar-left
          .form-group
            .input-group
              .input-group-addon(ng-show='game.control_player == "player_#{i}"')
                span.glyphicon.glyphicon-map-marker
              input.form-control(type='text', placeholder='Player #{i}', ng-model='game.player_#{i}.name')
              .input-group-addon {{game.player_#{i}.score || 0 | currency:'$':0}}
      ul.nav.navbar-nav.navbar-right
        li
          button.btn.btn-primary.navbar-btn(type='button', ng-click='startGame()', ng-show='!game.round') Start Game
          button.btn.btn-primary.navbar-btn(type='button', ng-click='endRound()', ng-show='game.round == "J" || game.round == "DJ" || game.round == "FJ"') End Round
          button.btn.btn-danger.navbar-btn(type='button', ng-click='resetGame()', ng-show='game.round == "end"') Reset Game

.container
  br
  br
  br

  div(ng-hide='game.round')
    .alert.alert-warning(ng-hide='data.game_complete')
      strong Warning!
      |  This is an incomplete game. You can still play, but it won't be the full experience.
    .alert.alert-info(ng-show='data.media_categories')
      strong This game has {{data.media_categories}} categories with media clues in it!
    h1.text-center {{data.game_title}}
    h4.text-center {{data.game_comments}}
    br
    each k in ['J', 'DJ']
      table.table
        thead
          tr
            th #{k == 'DJ' ? 'Double' : ''} Jeopardy! Round
            th # of Clues
            th Media Clues
        tbody
          each i in [1, 2, 3, 4, 5, 6]
            tr(ng-class='{warning: data.category_#{k}_#{i}.clue_count == 4, danger: data.category_#{k}_#{i}.clue_count <= 3}')
              td {{data.category_#{k}_#{i}.category_name}}
              td {{data.category_#{k}_#{i}.clue_count}} / 5
              td {{data.category_#{k}_#{i}.media_count}}
    table.table.table-striped
      thead
        tr
          th Final Jeopardy! Round
          th Media clue?
      tbody
        tr
          td {{data.category_FJ_1.category_name}}
          td {{data.category_FJ_1.media_count}}

  each k in ['J', 'DJ']
    div(ng-show='game.round == "#{k}"')
      .row
        each i in [1, 2, 3, 4, 5, 6]
          .col-md-2
            .panel.panel-primary.text-center(ng-click='toggleComments("category_#{k}_#{i}")')
              .panel-heading(style="padding-top: 1px; padding-bottom: 1px;")
                h4 {{data.category_#{k}_#{i}.category_name}}
              .panel-body(ng-show='data.category_#{k}_#{i}.category_comments && !hideComments["category_#{k}_#{i}"]', style='padding:5px') {{data.category_#{k}_#{i}.category_comments}}
              .panel-footer(ng-show='data.category_#{k}_#{i}.category_comments && !hideComments["category_#{k}_#{i}"]', style='padding:5px') Click to Hide
      each j in [1, 2, 3, 4, 5]
        .row
          each i in [1, 2, 3, 4, 5, 6]
            .col-md-2
              .panel.panel-primary(ng-click='startClue("clue_#{k}_#{i}_#{j}")', ng-show='data.clue_#{k}_#{i}_#{j} && !game.clue_#{k}_#{i}_#{j}', style='cursor:pointer;')
                .panel-body.text-center(style='padding:5px;')
                  .label.label-primary.pull-left {{ '#{j * (k == 'J' ? 200 : 400)}' | currency:'$':0 }}
                  .label.label-warning.pull-left(ng-show='data.clue_#{k}_#{i}_#{j}.daily_double') DD
                  | {{data.clue_#{k}_#{i}_#{j}.clue_text}}
              .panel.panel-default(ng-show='data.clue_#{k}_#{i}_#{j} && game.clue_#{k}_#{i}_#{j}')
                .panel-body.text-center(style='padding:5px;')
                  .label.label-default.pull-left {{ '#{j * (k == 'J' ? 200 : 400)}' | currency:'$':0 }}
                  em.text-muted {{data.clue_#{k}_#{i}_#{j}.correct_response}}

  div(ng-show='game.round == "FJ"')
    .panel.panel-primary
      .panel-heading
        strong {{data.category_FJ_1.category_name}}
        |  {{data.category_FJ_1.category_comments}}
      .panel-body(ng-show='!game.clue_FJ')
        .row
          each i in [1, 2, 3]
            .col-md-4.text-center
              h4 {{ game.player_#{i}.name || 'Player #{i}' }}
              .input-group
                .input-group-addon $
                input.form-control(type='number', ng-model='game.player_#{i}.fj_wager')
        br
        .row
          .col-md-12.text-center
            a(target='_blank', ng-href='http://www.j-archive.com/wageringcalculator.php?a={{game.player_1.score}}&b={{game.player_2.score}}&c={{game.player_3.score}}&player_a={{game.player_1.name}}&player_b={{game.player_2.name}}&player_c={{game.player_3.name}}') [wagering suggestions for these scores]
      .panel-footer.text-center(ng-show='!game.clue_FJ')
        button.btn.btn-lg.btn-success(type="button", ng-click="startClue('clue_FJ')") Submit

  div(ng-show='game.round == "end"')
    h1.text-center Game over!
    p.text-center
      a(target='_blank', ng-href='http://www.j-archive.com/showgame.php?game_id={{data.id}}') Show game @ J! Archive
    p.text-center
      a(target='_blank', ng-href='http://www.j-archive.com/showgameresponses.php?game_id={{data.id}}') Show game responses @ J! Archive
