/* app css stylesheet */

.jeopardy-board {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0015a0;
  color: #ffffff;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 4px 4px #000000;
}

.jeopardy-board .board-row {
  height: 16%;
}

.jeopardy-board .fj-row {
  height: 100%;
}

.jeopardy-board .category-row {
  border-bottom: 3px solid black;
}

.jeopardy-board .score-row {
  height: 4%;
  background: black;
  font-size: 150%;
}

.jeopardy-board .board-cell {
  height: 100%;
  border: 3px solid black;
}

.jeopardy-board .board-cell > div,
.board-modal-open .modal-body > div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.jeopardy-board .category-cell {
  font-size: 250%;
}

.jeopardy-board .fj-cell {
  font-size: 600%;
}

.jeopardy-board .fj-cell .player-name,
.jeopardy-board .fj-cell .player-score {
  font-size: 66.67%;
}

.jeopardy-board .clue-cell {
  color: #efaa50;
  font-size: 600%;
}

.board-modal-open .modal-dialog {
  width: 95%;
  height: 90%;
}

.board-modal-open .modal-content {
  background: #0015a0;
  color: #ffffff;
  font-family: 'Korinna', 'Kadwa', serif;
  font-size: 400%;
  font-weight: 600;
  text-shadow: 4px 4px #000000;
  text-transform: uppercase;
  text-align: center;
  height: 100%;
}

.board-modal-open .modal-body {
  height: 100%;
  padding-left: 50px;
  padding-right: 50px;
}

.board-modal-open .carousel img {
  min-height: 700px;
  max-height: 700px;
  margin: 0 auto;
}

.board-modal-open .carousel-caption {
  left: 3%;
  right: 3%;
  font-size: 50%;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
}

.player-name {
  font-family: 'Korinna', 'Kadwa', serif;
  text-transform: uppercase;
}

.player-score {
  font-family: 'Fjalla One', sans-serif;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.panel {
  margin-bottom: 5px;
}

.media_clue a {
  color: #efaa50;
}